/* Add your custom extension styling here */
.notification-container {
  background-color: rgba(0, 0, 0, 0.7);
}

.notification-container:has_notif {
  background-color: transparent;
}

.notification-container:empty_notif {
  background-color: rgba(0, 0, 0, 0.7);
}

.notification-indicator-box .notes-icon-indicator {
  background-color: white;
  color: black;
  border-radius: 100px;
  padding: 0px 5px;
}

.notification-box:first-child {
  margin-top: 10px;
}
.notification-box:last-child {
  margin-bottom: 10px;
}

.notification-box {
  background-color: rgba(0, 0, 0, 1);
  margin: 4px 10px;
  border-radius: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

.notification-box:hover {
  background-color: rgba(0, 0, 0, 0.938);
}

.notification-box .notification-box__widget {

}

.notification_box__content  {
  background-color: transparent;
}

.notification_box__icon--icon {
  color: white;
}

.notification_box__label--title  {
  margin: 10px 0px;
  font-size: 19px;
  color: white;
  font-weight: 600;
}

.notification_box__label--bodytext   {
  color: white;
  margin: 0px 5px;
  overflow-wrap: break-word;
}

